.action_content {
  width: 100%;
  height: 36%;
  position: absolute;
  bottom: 0;
  border-radius: 54px 54px 0px 0px;
  background-color: #23262F;
}

.text_colors {
  width: 100%;
  height: auto;
  font-family: 'Inter';
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5%;
}

.color_notes {
  width: 40%;
  height: auto;
  display: inline-flex;
  justify-content: space-around;
  position: absolute;
  top: 15%;
  left: 30%;
}

#color {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.gray {
  background-color: #343846;
  border: #00f7ff;
}

.Maldives {
  background: linear-gradient(to right, #51d3e4, #08b6d9);
}

.Purpink {
  background: linear-gradient(to left, #8818f7, #e100ff);
}

.Neonlife {
  background: linear-gradient(to right, #aeb530, #57b95a);
}

.Neuromancer {
  background: linear-gradient(to right, #f953c6, #b91d73);
}

.themeBlackFont {
  color: #23262F;
}

.btns_content {
  width: 70%;
  height: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 15%;
}

.btn_actions {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 3px solid #00f7ff;
  border-radius: 11px;
  margin: 0.3rem 0;
}


/* .select_colections{
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 3px solid #00f7ff;
  border-radius: 11px;
  margin: 0.3rem 0;
  
} */
.btn_action_delete {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 3px solid #646464;
  border-radius: 11px;
  margin: 0.3rem 0;
}

.btn_action {
  width: 90%;
  height: auto;
  background-color: #23262F;
  color: white;
  font-family: 'Inter';
  font-size: 1.7rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.btn_actionDelete {
  width: 90%;
  height: auto;
  background-color: #23262F;
  color: #646464;
  font-family: 'Inter';
  font-size: 1.7rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.note_icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: .5rem 2rem;
}