/* /////// menu colecciones */

.colection_icon {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  z-index: 999;
}

.colection_style {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  text-align: left;
  border: 3px solid #00FFFF;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_colection {
  position: absolute;
  width: 98%;
  height: 6vh;
  left: 1%;
  background-color: #23262F;
  color: #00FFFF;
  font-family: 'Inter';
  font-size: 1.7rem;
  outline: none;
  border: none;
  text-align: left;
  padding-left: 10rem;
}

.deleted_notes_content {
  position: absolute;
  width: 100%;
  height: auto;
  top: 60%;
}

#shade {
  color: #646464;
}

#btn_shade{
  border: 3px solid #646464;
}