.getNote_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.getNote_colection_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  top: 6%;
}

.header_colection_container{
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  align-items: center;
  position: fixed;
  top: 29%;
  left: 5%;
  background-color: #23262F;
  z-index: 99;
}
.note_colection_select{
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: right;
  margin: 1rem;
  text-transform: capitalize;
}

.printNote_container {
  width: 100%;
  height: 16rem;
  border-radius: 35px;
  margin: .3rem 0;
  background-color: #00FFFF;
}

.printNote_container:last-of-type {
  margin-bottom: 20%;
}

.header_note_container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.colection_saved {
  width: 50%;
  height: 4rem;
  margin: 1rem 0;
  padding-right: 2.5rem;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: right;
}

.note_tittle {
  width: 50%;
  height: 4rem;
  margin: 1rem 0;
  padding: 0 3rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.note_text {
  height: 5rem;
  padding: 0 3rem;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0;
  word-wrap: break-word;
}

.line {
  width: 95%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 2.5%;
  margin: 1rem 0;
}

.date_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1rem;
}


.note_mofifDate {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 2.5rem;
  justify-content: flex-start;

}

.note_Date {
  width: 50%;
  height: auto;
  padding-right: 2.5rem;
  display: flex;
  justify-content: flex-end;
}