.getNote_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.printNote_container {
  width: 100%;
  height: 14rem;
  border-radius: 35px;
  margin: .3rem 0;
}

.printNote_container:last-of-type {
  margin-bottom: 20%;
}

.note_tittle {
  padding: 1rem 3rem;
  margin: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.note_text {
  height: 5rem;
  padding: 0 3rem;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0;
  word-wrap: break-word;
}

.line {
  width: 95%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 2.5%;
  margin: 1rem 0;
}

.date_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1rem;
}


.note_mofifDate {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 2.5rem;
  justify-content: flex-start;

}


.note_Date {
  width: 50%;
  height: auto;
  padding-right: 2.5rem;
  display: flex;
  justify-content: flex-end;
}