* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #D59F66;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */