.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #new-note {
    border-radius: 50%;
    background-color: #E94726;
    font-size: 80px;
    right: 9%;
    bottom: 10%;
  }
  
  #exit {
    font-size: 80px;
    right: 10%;
    top: 9%;
  }

  .all-notes-contain {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-gap: 100px;
    justify-content: flex-start;
  }
  
.individual-notes { 
  border: solid 2px;
  background-color: #F9E8C6;
  }
  
.material-icons {
  position: absolute;
  /*pointer-events: none;*/
}

#delete {
  margin: 3px;
  justify-items: flex-end;
  align-items: end;
}

#edit {
  padding: 3px;
}

.note-title {
  font-weight: bold;
  padding: 4px;
}

.note-description {
  font-weight: lighter;
  padding: 10px;
}

