header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #new-note {
    position: absolute;
    border-radius: 50%;
    background-color: #E94726;
    font-size: 80px;
    right: 9%;
    bottom: 10%;
  }
  
  #exit {
    position: absolute;
    font-size: 80px;
    right: 10%;
    top: 9%;
  }

  .all-notes-contain {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: minmax(200px, auto);
  grid-gap: 100px;
  width: 80%;
  margin: 3%;
  }
  
.individual-notes { 
  flex-direction: column;
  border: solid 2px;
  background-color: #F9E8C6;
  }
  
.material-icons {
  cursor: pointer;
}

.delete-box, .edit-box{
  display: flex;
  justify-content: flex-end;

}

#delete {
  margin: 3px;
}


#edit {
  padding: 3px;
}

.note-title {
  font-weight: bold;
  padding: 4px;
}

.note-description {
  font-weight: lighter;
  padding: 10px;
}

