.notesContainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

header {
    color: #F9E8C6;
    font-family: 'Hepta Slab', serif;
    max-width: 940px;
    font-size: 4em;
    font-weight: 700;
    padding: 1em;
  }

  .loginButton {
    flex-direction: row;
    display: flex;
    color: #F9E8C6;
    background-color: #E94726;
    font-family: 'Hepta Slab', serif;
    width: 20em;
    height: 5em;
    border: none;
    box-shadow: 5px 5px 15px rgba(27, 27, 27, 0.856);
    align-items: center;
    justify-content: space-around;
  }

  .googleImg {
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
   
    
  }
 
    