body {

}
  
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #E75956;
    color: white;
    text-align: center;
    align-items: center;
    padding: 1%;
  }
  
  .btnGoogle{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 19px;

position: absolute;
width: 404.27px;
height: 62px;
left: 150px;
top: 700px;

background: #9BA6A3;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
      }
  @media only screen and (min-width: 600px) {
  
   
  
    #note{
      width: 80%;
      align-items: center;
        }
    
    .btnGoogle{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 19px;
      position: absolute;
      width: 404.27px;
      height: 62px;
      left: 184px;
      top: 950px;
      background: #9BA6A3;
      backdrop-filter: blur(4px);
      border-radius: 30px;



    }
    
  
  
    }

