/* button-34 */

/* CSS */
.GoogleBtn,
.btnLogout,
.btnAddNote {
  background: #f9f8fc;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.526) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #894c3a;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.btnAddNote {
  height: 75px;
  width: 75px;
  z-index: 20;
  position: absolute;
  margin-left: 46%;
  margin-top: 50%;
  font-size: 50px;
  display: flex;
	justify-content: center;
	align-items: center;
}

/* VERSION PARA CELULAR */
/* On screens that are 428px or less */
@media only screen and (max-width: 428px) {
  button {
    margin-top: 17.6%;
    width: 66%;
    height: 8.5%;
    font-size: 16px;
    font-weight: 600;
  }
}

/* VERSION PARA ESCRITORIO */
/* On screens that are 1195px or more */
@media only screen and (min-width: 1195px) {
  button {
    margin-top: 4.4%;
    width: 60%;
    height: 8.5%;
    font-size: 16px;
    font-weight: 600;
  }
}
