/* 
font-family: 'Taviraj', serif;
font-family: 'Mulish', sans-serif;

F9F8FC     WHITE
C4C4C4     LILAC
B59395     PINK
D59F66     YELLOW
9E6C63     PINK (TOAST)
894C3A     IRONSTONE (BROWN)
75AA57     GREEN
F44336     RED
F29A1F     YELLOW

894C3A     TEXTO BROWN
D59F66     TEXTO PINK

Mulish:ital,wght@0,400;0,800;0,900;1,700=
Taviraj:wght@400;500;600;700;800&
 */


.mainContainerLogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.backgroundImage {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.6;
    background-repeat: repeat;
    z-index: 0;

}

.brownRectangle {
    background-color: #894C3A;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    z-index: 3;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.526);
}

.bigRosettaLogo {
    width: 65%;
    margin-top: 10%;
    margin-bottom: 4.8%;
    
}

h1 {
    font-family: 'Taviraj', serif;
    font-size: 24px;
    color: #F9F8FC;
    text-align: center;
}

.GoogleBtn{
margin-top: 16px;
}

footer {
    font-family: 'Mulish', sans-serif;
    color: #894C3A;
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-weight: bolder;

}

/* VERSION PARA CELULAR */
/* On screens that are 428px or less */
@media only screen and (max-width: 428px) {
    
    .brownRectangle {
        
        width: 80%;
        height: 80%;
        padding: 16px;
    }
    
    .bigRosettaLogo {
        width: 80%;
    margin-top: 35.2%;
        margin-bottom: 17.6%;
    }
    
    h1 {
        font-size: 20px;
    }
    
       
    footer {
        font-size: 12px;
        font-weight: 900;
    
    }
}

/* VERSION PARA ESCRITORIO */
/* On screens that are 1195px or more */
@media only screen and (min-width: 1195px) {

   

    
    .bigRosettaLogo {
        width: 65%;
        margin-top: 8.8%;
        margin-bottom: 4.8%;
    }
    
    h1 {
        font-family: 'Taviraj', serif;
        font-size: 24px;
  
    }
    
    
    
    footer {
        font-family: 'Mulish', sans-serif;
        color: #894C3A;
        position: absolute;
        right: 24px;
        bottom: 24px;
        font-weight: bolder;
    
    }
}