/* font-family: 'Taviraj', serif; */
.titleNotesList {
  background-color: #894c3a5e;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #f9f8fc;
    text-align: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid #f9f8fc
}




  h4 {
    font-family: "Mulish", sans-serif;
    color: #894C3A;
    font-size: 12px;
  }

.listElement{
    width: 30%;
    height: 140px;
    margin: 4px;
    padding: 4px;
    padding-bottom: 16px;
    background-color: #F9F8FC;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.526);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-evenly;
}

.titleOfNote{
  background-color: #894C3A;
  color: #f9f8fc;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


}

.textOfNote{

  font-family: "Mulish", sans-serif;
  width: 99%;
  font-size: 14px;
  color: #894C3A;
  padding: 4px;
  display: flex;
  direction: column;




}

.listOfNotes{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
  gap: 2%;
}




