.header_container{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  align-items: center;
  position: absolute;
}

.icon_create_note{
  width: 3rem;
  height: 3rem;
  margin: .5rem;
}

.icon_back{
  width: 6vw;
  height: auto;
  margin: .5rem;
  position: absolute;
  right: 5%;
}

.note_colection{
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 4vh;
  text-align: right;
  margin: 1rem;
  text-transform: capitalize;
} 